

@media (max-width: 1000px) {
    .navbar-toggler {
      margin: 10px 0;
    }  
    .navbar-nav .nav-link {
      padding: 10px 0;
      text-align: center;
    }
    #res{
        background-color: whitesmoke;
        height: auto;
    }
    #login:hover{
        font-size: 1.2rem;
    }
    #sinup:hover{
        font-size: 1.2rem;
    }
    .nav-item:hover{
        font-size: 1.2rem;
    }
  }